.footer {
  display: flex;
  flex-direction: row;

  align-items: end;

  padding: 0 22px 22px 22px;

  color: white;
}

.footer img {
  height: 28px;
  margin-right: 10px;
}

.footer p {
  align-items: center;
}