.navbar {
  display: flex;
  justify-content: space-between;
}

.link {
  margin-left: 20px;
  margin-top: 5px;
}
.link h1 {
  color: rgba(255, 255, 255, 0.831);
  font-size: 20px;
}
.link h1:hover {
  color: white;
  user-select: none;
}



.weather {
  display: flex;
}

.weather img {
  height: 43px;
  margin-top: 20px;
  margin-right: 6px;
}
.weather-text {
  color: white;
  margin-top: 18px;
}
.weather-text h1,p {
  margin: 0;
  margin-right: 17px;
}