@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* css resect */
body {
  font-family: 'Open Sans';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.root {
  height: 100vh;
  background-image: url(../img/milad-fakurian-PGdW_bHDbpI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
}
