@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* css resect */
body {
  font-family: 'Open Sans';
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background-image: url(../img/milad-fakurian-PGdW_bHDbpI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 100vh;
}

.head {
  display: flex;
  justify-content: space-between;
}

.head a {
  margin: 22px;

  text-decoration: none;
  color: rgba(255, 255, 255, 0.853);
  font-size: 17px;
}
.head a:hover {
  color: white;
}


.weather {
  display: flex;
  flex-direction: row;
}
.weather img{
  height: 36px;
  margin-top: 20px;
}
.weather-text{
  color: white;
  margin-right: 22px;
  margin-left: 7px;
}
.weather-text p,h1{
  margin: 0;
}
.weather-text h1 {
  font-size: 29px;
}
.weather-text p {
  font-size: 15px;
}
.weather-text{
  margin-top: 20px;
}